<form action='posts' method="get">
<div class="searchBox">
	<input type="text" name="search" class="searchtxt" placeholder="Search...">
	<button type="submit" class="searchbtn"><img src="loupe.png" class="searchbtn"></button>
</div>
</form>
<% @posts.each do |post| %>
      <%= render partial: "post", object: post %>
<% end %>

<br>
<% if user_signed_in? %>
	<div class="block">
		<%= link_to 'New Post', new_post_path, class: "submitButton" %>
	</div>
<%else%>
	<p>로그인 필요</p>
<%end%>
